@model object

@{
    ViewBag.Title = "Welcome";
    Layout = "_Customer_Layout";
}

<!--If connection refused message appears it is displayed in this dib-->
@if (TempData["CR"] != null)
{
    <div class="alert alert-danger">
        @TempData["CR"]
    </div>
}
<h2>Hello customer!</h2>

