@model OnlineShop.Areas.Admin.Models.ProductVM

@{
    ViewBag.Title = "Product Details";
    Layout = "_Layout";
}

<h2>Product Details</h2>
<div class="col-lg-4 mt-2">
    <img class="img-thumbnail" src="@Model.Image"/>
    <h2>Name: @Model.Name</h2>
    <p>Description: @Model.Description</p>
    <p>Price: $@Model.Price</p>
    <p>@Html.ActionLink("Order", "", "", null, new {@class="btn btn-warning"})</p>
</div>
